<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
</head>

<body>
    <canvas id="canvas" width="512" height="512"></canvas>
    <script type="module">
        import init from "./glue_web.js";
        import {set_xml_config} from './snippets/glue_core-513a7bde24bf152f/js/aux_util.js';
        set_xml_config("<window><config_path>um hello based department</config_path></window>");
        async function run() {
            var demo = await init();
            console.log(demo);
        }
        run();
    </script>
</body>

</html>